tags
Setup
github-backup
gitriddance
Build/SysConfig

dist
dist-newstyle
cabal.project.local
cabal.project.local~
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
doc/.ikiwiki
